<a id='chapter3'></a>

# CHAPTER 3 - Conditional Execution

## EXERCISES

#### Exercise 1

In the code below, which will never print regardless of the value for x? Edit the code to correct the error.

```python
if x > 0 :
    print('Above 0')
elif x >  10 :
    print('Above 10')
elif x > 50 :
    print('Above 50')
elif x >  20 :
    print('Above 20')
else :
    print('Something else')
```

In [ ]:
#in the old code, it will never print if the number is greater than 10, 50, and 20.
#For example, if the user entered x = 20, it will only say that it is "Above 0" because it already satisfies the condition and will stop/break the program.
#Also, it will only print "Somethingh else if x is <= 0.


x = 55

if x > 0 and x <= 10 :
    print('Above 0')
elif x > 10 and x <= 20 :
    print('Above 10')
elif x > 50 :
    print('Above 50')
elif x > 20 and x <= 50:
    print('Above 20')
else :
    print('Something else')

Above 50

#### Exercise 2

Write your salary computation to give an employee 1.5 times the hourly rate for hours worked above 40 hours. Example:

    Enter Hours: 45
    Enter Rate: 10
    Pay: 475.0
    
[PEW] E3.2

In [ ]:
hours = float(input("Enter Hours: "))
rate = float(input("Enter Rate: " ))

if hours > 40 :
  regular = 40 * rate
  ot = hours - 40
  pay = regular + (rate * 1.5 * (ot))

else  :
  pay = rate * hours

print("Pay:",pay)

Enter Hours: 45
Enter Rate: 10
Pay: 475.0

## CHALLENGE

Write a program to prompt for a score between 0 and 100 and print a grade using the following table:

    Score           Grade
    [ 97, 100]      1.0
    [ 93,  97)		1.25
    [ 89,  93)		1.5
    [ 85,  89)		1.75
    [ 81,  85)		2.0
    [ 77,  81)		2.25
    [ 74,  77)		2.5
    [ 0,   74)		3.0

Adapted from [PEW] E3.3
<br>

[TABLE OF CONTENTS](#contents)

In [ ]:
score = int(input("Enter Score:"))

if score >= 0 and score < 74:
  grade = 3.0

elif score >= 74 and score < 77:
  grade = 2.5

elif score >= 77 and score < 85:
  grade = 2.25

elif score >= 81 and score < 85:
  grade = 2.0

elif score >= 85 and score < 89:
  grade = 1.75

elif score >= 89 and score < 93:
  grade = 1.5

elif score >= 93 and score < 97:
  grade = 1.25

elif score >= 97 and score <= 100:
  grade = 1.0

print("Grade:", grade)

Enter Score:99
Grade: 1.0