<a href="https://colab.research.google.com/github/raymart42/ICT110_CS2A_Patriarca/blob/master/Workbook_3/Chapter_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a id='chapter8'></a>

# CHAPTER  8 - Lists

## EXERCISES

#### Exercise 1

Create an empty list then add the following numbers using `append`: 4, 6 9.

In [1]:
myList = []

myList.append(4)
myList.append(6)
myList.append(9)

print(myList)

[4, 6, 9]

#### Exercise 2

Using the `range` function, create a list containing the numbers from 0 to 10.

In [2]:
myList = list(range(11))
print(myList)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### Exercise 3

Create a list containing the valid grade values, then using `enumerate` in a `for` loop, print out all **indices** and **items** in the list.

It should print out:

    0   1.0
    1   1.25
    2   1.5
    3   1.75
    4   2.0
    5   2.25
    6   2.5
    7   3.0

In [3]:
grades = [1.0, 1.25, 1.5, 1.75, 2.0, 2.25, 2.5, 3.0]

for index, grade in enumerate(grades):
   print(index,' ',grade)

0   1.0
1   1.25
2   1.5
3   1.75
4   2.0
5   2.25
6   2.5
7   3.0

#### Exercise 4

Using Index Slicing, print out the list of grades higher than 2.0

In [ ]:
grades = [1.0, 1.25, 1.5, 1.75, 2.0, 2.25, 2.5, 3.0]

greater = [grade for grade in grades if grade > 2.0]
print("Grades higher than 2.0:", greater)

Grades higher than 2.0: [2.25, 2.5, 3.0]

#### Exercise 5

Using Index Slicing, print out the list of grades better than 2.0.

In [ ]:
grades = [1.0, 1.25, 1.5, 1.75, 2.0, 2.25, 2.5, 3.0]

better = [grade for grade in grades if grade > 2.0]
print("Grades better than 2.0:", better)

Grades better than 2.0: [2.25, 2.5, 3.0]

#### Exercise 6

Using Index Slicing, print out the grades 2.0,2.25,2.5.

In [4]:
grades = [1.0, 1.25, 1.5, 1.75, 2.0, 2.25, 2.5, 3.0]

grades2 = grades[4:7]
print(grades2)

[2.0, 2.25, 2.5]

## CHALLENGE

Modify the code in the subheading [Parsing Lines](#ParsingLines) to display all the time stamps
of the emails in mboxt-short.txt

In [ ]:
!pwd

/content

In [6]:
fhand = open('mbox-short.txt')
time_stamps = []
for line in fhand:
    line = line.rstrip()
    if line.startswith('From'):
        words = line.split()

        timestamp_str = " ".join(words[2:7])
        time_stamps.append(timestamp_str)
print(time_stamps)

['Sat Jan 5 09:14:16 2008', 'Sat Jan 5 09:14:16 2008']